.addNewItem_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #98ee99;
    margin-top: 0px!important
}

.addNewItem_innerwrapper {
    width: 80%;
    margin: 0 auto
}

.checkbox_wrapper {
    margin: 30px
}

.chooseCategory  {
    margin-top: 30px;
    padding-bottom: 15px;
}

.button-submit {
    margin-top: 60px!important;
}
