
.item_card {
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .item_card__icon {
    width: 10%!important;
    height: 65px;
    opacity: 0.7;
    border-radius: 40px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .item_card__icon-1 {
    background-image: url("../icons/icons-meat.svg");
  }
  
  .item_card__icon-2 {
    background-image: url("../icons/icons-fish.svg");
  }
  
  .item_card__icon-3 {
    background-image: url("../icons/icons-cheese.svg");
  }
  
  .item_card__icon-4 {
    background-image: url("../icons/icons-veggie.svg");
  }
  
  .item_card__icon-5 {
    background-image: url("../icons/icons-fruit.svg");
  }
  
  .item_card__icon-6 {
    background-image: url("../icons/icons-ice.svg");
  }